{% if locks is defined and locks|length > 0 %}
   <div {{ stimulus_controller('lock-actions') }}>
      <table class="table"
         data-toggle="table"
         data-table-target="table"
         data-page-number="{{ page }}" 
         data-page-size="{{ pageSize }}"
         data-page-sortName="{{ sortName }}"
         data-page-sortOrder="{{ sortOrder }}">
         <thead>
            <tr>
               <th data-sortable="true">{{ 'lock.floor' | trans }}</th>
               <th data-sortable="true">{{ 'lock.description' | trans }}</th>
               <th data-sortable="true" data-field="options">{{"table.options" | trans }}</th>
            </tr>
         </thead>
         <tbody>
            {% for lock in locks %}
               <tr>
                  <td>{{ lock.floor ? lock.floor.customer_reference : '' }}</td>
                  <td>
                     {% if lock.online %}
                        <span class="badge rounded-pill bg-success" title="{{ 'label.online' | trans }}">&nbsp;</span>
                     {% else %}
                        <span class="badge rounded-pill bg-danger" title="{{ 'label.offline' | trans }}">&nbsp;</span>
                     {% endif %}
                     {{ lock.customer_reference }}
                  </td>
                  <td>
                     <a href="{{ path('api_unlock', {'lockId': lock.id}) }}" 
                        data-action="click->lock-actions#onUnlock"><i class="fa fa-lg fa-unlock" title='{{ "btn.unlock" | trans | capitalize }}'></i></a>&nbsp;
                     <a href="{{ path('api_deactivate_office_mode', {'lockId': lock.id}) }}" 
                        class="{{ lock.locked_state == 'locked' ? 'd-none' }}" 
                        data-lock-actions-target="toggleOn"
                        data-action="click->lock-actions#onDeactivateOfficeMode">
                        <i class="fa fa-lg fa-toggle-on" title='{{ "btn.deactivateOfficeMode" | trans | capitalize }}'></i></a>&nbsp;
                     <a href="{{ path('api_activate_office_mode', {'lockId': lock.id}) }}"  
                        class="{{lock.locked_state == 'office_mode' ? 'd-none' }}"
                        data-lock-actions-target="toggleOff"
                        data-action="click->lock-actions#onActivateOfficeMode">
                        <i class="fa fa-lg fa-toggle-off" data-lock-actions-target="toggleOff" title='{{ "btn.activateOfficeMode" | trans | capitalize }}'></i></a>&nbsp;
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
{% else %}
   <div class="alert alert-secondary mt-3" role="alert">{{"messages.results0" | trans }}</div>
{% endif %}
{{ include('common/_alert.html.twig') }}