{% extends 'base.html.twig' %}

{% block title %}{{ 'app.title.lock.index' | trans }}{% endblock %}

{% block body %}
	<main class="container-fluid" {{ stimulus_controller('modal') }}
        data-action="lock-actions:startAction->modal#startModal lock-actions:endAction->modal#endModal hidden.bs.modal->modal#resetMessage">
        <div id="content" class="container-fluid" {{ stimulus_controller('table', 
                { 'url': path('lock_index'),
                'exportName': 'locks',
            })}} 
            data-table-target="content">
            {{ include('lock/_list.html.twig', { 
                'locks': locks,
                'pageSize' : pageSize,
                'page': page,
                'sortName': sortName,
                'sortOrder': sortOrder,
            }) }}
        </div>
        {{ include('common/_spinnerModal.html.twig') }}
	</main>
{% endblock %}