{% apply inline_css(source('@styles/email.css')) %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
   <body>
      {{ 'message.emailTextSender' | trans | raw }}
      <b>{{ 'label.sha1' | trans }}:</b> {{ data['sha1'] }}<br>
      <b>{{ 'label.date' | trans }}:</b> {{ date }}<br>
      <b>{{ 'label.hour' | trans }}:</b> {{ hour }}<br>
      <b>{{ 'upload.file' | trans }}:</b> {{ data['fileName'] }}<br>
      <b>{{ 'label.size' | trans }}:</b> {{ data['size'] }}<br>
      {% if giltzaUser['issuer'] != null and giltzaUser['issuer'] != 'EMPTY' %}
      <b>{{ 'label.issuer' | trans }}:</b> {{ giltzaUser['issuer'] }}<br>
      {% endif %}
      {% if giltzaUser['cif'] != null and giltzaUser['cif'] != 'EMPTY' %}
         <b>{{ 'label.cif' | trans }}:</b> {{ giltzaUser['cif'] }} {% if giltzaUser['organization'] != null and giltzaUser['organization'] != 'EMPTY' %} - {{giltzaUser['organization']}}{% endif %}<br>
      {% endif %}
      <b>{{ 'label.dni' | trans }}:</b> {{ giltzaUser['dni'] }}{% if giltzaUser['name'] != null and giltzaUser['name'] != 'EMPTY' %} - {{ giltzaUser['name']}}{% endif %}<br>
      <b>{{ 'upload.senderEmail' | trans }}:</b> {{ data['senderEmail'] }}<br>
      <b>{{ 'upload.receiverEmail' | trans }}:</b> {{ data['receiverEmail'] }}<br>
   </body>
</html>
{% endapply %}