<nav class="navbar navbar-expand navbar-dark bg-dark mb-1">
  <a class="navbar-brand" href="#">&nbsp;</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link {{ ( app.request.attributes.get('_route') == 'lock_index' ) ? 'active': '' }}" href="{{ path('lock_index') }}" id="navbarLocks" aria-haspopup="true" aria-expanded="false">
					{{ 'navitem.locks' | trans | capitalize }}
				</a>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item">
					<a class="nav-link {{ ( app.request.attributes.get('_route') == 'audit_index' ) ? 'active': '' }}" href="{{ path('audit_index') }}" id="navbarAudits" aria-haspopup="true" aria-expanded="false">
						{{ 'navitem.audits' | trans | capitalize }}
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link {{ ( app.request.attributes.get('_route') == 'admin_user_index'   
											or  app.request.attributes.get('_route') == 'iq_index' ) ? 'active': '' }} dropdown-toggle" href="#" id="navbarAdmin" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ 'navitem.administration' | trans | capitalize }}
					</a>
					<div id="js-menu-administration" class="dropdown-menu" aria-labelledby="navbarAdmin">
						<a class="dropdown-item" href="{{ path('admin_user_index') }}">{{"navitem.users" | trans | capitalize}}</a>
						<a class="dropdown-item" href="{{ path('iq_index') }}">{{"navitem.iqs" | trans }}</a>
					</div>
				</li>
			{% endif %}
    </ul>
  </div>

</nav>
		

